{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password</title>
    </head>
    <body>
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Reset Password
                    </legend>
                    <label for="">New Password*</label>
                    <input type="text" class="form-control">
                    <ul>
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>

                    <label for="">New password confirmation*</label>
                    <input type="text" class="form-control">
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        Reset Password
                    </button>
                </div>
            </form>
        </div>
    </body>
    </html>
{% endblock content %}